.tc-posts-section {
  @media (min-width: $widthLarge) {
    max-width: 65%;
  }
}

.tc-post {
  margin: 2em 0;

  &-title,
  &-link {
    display: block;
    margin-bottom: 0.875em;
    color: $primary;
    font-size: 1.75em;
    font-weight: 700;
    line-height: 1.125;
  }

  &-title {
    font-size: 3.5em;
    margin-bottom: 0.75em;
    text-align: center;
  }

  &-link {
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }
  }

  &-author,
  &-body {
    font-family: 'Merriweather', serif;
    font-size: 1.25em;
  }

  &-body {
    line-height: 1.375;

    h2,
    h3 {
      color: $primary;
      font-family: $sans-serif;
      font-size: 1.25em;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 2em;
    }

    a {
      color: $primary;
      text-decoration: none;
      border-bottom: 1px solid;

      &:hover,
      &:focus {
        opacity: 0.7;
        border-bottom: 0;
      }
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }
}

.tc-post-link--more {
  color: $primary;
  text-decoration: none;
  border-bottom: 1px solid $primary;

  &:hover {
    opacity: 0.7;
    border-bottom-width: 0;
  }
}

.tc-post-navigation-links,
.tc-post-tags {
  display: flex;
  list-style: none;
  padding: 0;
}

.tc-post-navigation-links {
  justify-content: space-between;
  padding: 2em 0 1em;
  border-top: 1px solid $gray;

  > li {
    display: inline-block;
    width: auto;
    max-width: 300px;
  }

  .tc-post-navigation-link {
    color: $secondary;
    line-height: 1;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.tc-post-tags {
  margin-top: 2em;

  > li {
    color: $primary;
    margin-right: 1.5em;
  }

  .fa-tag {
    margin-right: 0.5em;
  }
}
